# Các file rác của Python
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo
venv/
env/
.env

# File rác của Jupyter Notebook
.ipynb_checkpoints/

# File kết quả training của YOLO (thường rất nặng, không nên nộp)
runs/

# File hệ thống
.DS_Store
Thumbs.db
